{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.btn').button();
		//this function enables the sub selectField of Sector C, when we select the field   Sector C on General Select Field.
		$('select[name="sector"]').on('change', function(){
			var sector_c = $(this).val();
			if(sector_c == "C. Processing Industry"){
				$("#sector_c").attr("disabled", false);
			}
			else{
				$('#sector_c').attr('disabled', true);
				$('#sector_c').val('');
			}
		});
	});
</script>
<form action="{{ url_for('index') }}" method="post" class="form-horizontal">
	<div>
		<h3>Mirësevini në Sistemin e Regjistrimit të Bizneseve</h3>
		<hr><br>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.picture.label }}
		    </div>
		    <div class="col-xs-6">
		        {{ form.picture }}
		     </div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.company_name.label }}
		    </div>
		    <div class="col-xs-6" >
		        {{ form.company_name(class="form-control ") }}
		     </div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.owner.label }}
		    </div>
		    <div class="col-xs-6">
		        {{ form.owner(class_="form-control") }}
		     </div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.sector.label }}
		    </div>
		    <div class="col-xs-4">
		        {{ form.sector(class="form-control ") }}
		     </div>
		     <div class="col-xs-2">
		        {{ form.sector_c(disabled=True, class="form-control ") }}
		     </div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.business_nr.label }}
		    </div>
		    <div class="col-xs-6" >
		        {{ form.business_nr(class="form-control ") }}
		     </div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.fiscal_nr.label }}
		    </div>
		    <div class="col-xs-6">
		        {{ form.fiscal_nr(class_="form-control") }}
		     </div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.activity.label }}
		    </div>
		    <div class="col-xs-6" >
		        {{ form.activity(class="form-control ") }}
		     </div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.registration_date.label }}
		    </div>
		    <div class="col-xs-6">
		        {{ form.registration_date(class_="form-control") }}
		     </div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.phone_nr.label }}
		    </div>
		    <div class="col-xs-6" >
		        {{ form.phone_nr(class="form-control ") }}
		     </div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.email.label }}
		    </div>
		    <div class="col-xs-6">
		        {{ form.email(class_="form-control") }}
		     </div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.address.label }}
		    </div>
		    <div class="col-xs-6" >
		        {{ form.address(class="form-control ") }}
		     </div>
		</div>
		<div class="form-group">
			<div class="control-label col-xs-4">
		    	{{ form.other_information.label }}
		    </div>
		    <div class="col-xs-6">
		        {{ form.other_information(class_="form-control") }}
		     </div>
		</div>
	</div>
	<br>
	<div align="center">
		<button type=submit class="btn btn-primary">Ruaj te dhenat</button>
	</div>
	<br>
</form>	
{% endblock %}
