{% extends "layout.html" %}

{% block body %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Emri</th>
				<th>Pronari</th>
				<th>Numri Biznesit</th>
				<th>Numri Fiskal</th>
				<th>Data Regjistrimit</th>
				<th>Statuti Bisnesit</th>
				<th>Telefoni</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for biz in businesses %}
				{% set viti = biz.registration_date.year %}
	    		{% set muaji = biz.registration_date.month %}
    			{% set dita = biz.registration_date.day %}
    			{% set data_regjistrimit = (dita, muaji, viti)|join("/") %}
			<tr>
				<td>{{ biz.business_name }}</td>
				<td>{{ biz.owner }}</td>
				<td>{{ biz.business_nr }}</td>
				<td>{{ biz.fiscal_nr }}</td>
				<td>{{ data_regjistrimit }}</td>
				<td>{{ biz.business_statute }}</td>
				<td>{{ biz.contacts.phone_nr }}</td>
				<td><a href="/edit/{{ biz._id }}" >Edit</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}